/* body color */
.body {
    background-color: white;
}

/* ----- header section ----- */
.header {
    display: inline;
}

.header-nav {
    cursor: pointer;
    color: #fff;
}

.header-nav-li {
    color: #2f303a;
}

.header-contacts {
    font-size: 14px;
    color: #fff;
}

.header-contacts-li {
    color: #757575;
}

/* ------ hero section ------*/
.hero { 
    background-color: #2f303a;
}

.hero-title {
    color: #fff;
}

.hero-button {
    color: #fff;
    background: #2196f3;
}

/* ----- footer section -----*/
.footer {
    background-color: #2f303a;
}

.footer-address-ul {
    color: #2f303a;
}

.footer-address-li {
    color: #fff;
}

/* additional */
/* "web" and "studio" style title (in header and footer) */
.web {
    color: #2196f3;
}

.studio-header {
    color: #212121;
}

.studio-footer {
    color: #fff;
}
