/* ----- body+head+footer (тіло+шапка+підвал) ----- */
/* ----- body (тіло) -----*/
.body {
    background-color: white;
}

/* ----- header section (шапка сайта) ----- */
.header {
    
}

.header-nav {
    cursor: pointer;
    color: #fff;
    display: inline;
}

.header-nav-li {
    color: #2f303a;
}

.header-contacts {
    font-size: 14px;
    color: #fff;
    display: inline;
    cursor: pointer;
}

.header-contacts-mail{
    color: #757575;
}

.header-contacts-mail:focus,
.header-contacts-mail:hover{
    color: #2196F3;
}

.header-contacts-tel{
    color: #757575;
}

.header-contacts-tel:focus,
.header-contacts-tel:hover{
    color: #2196F3;
}


/* ----- footer section (підвал сайту) -----*/
.footer {
    background-color: #2f303a;
}

.footer-address-ul {
    color: #2f303a;
}

.footer-address-li {
    color: #fff;
}

/* additional (додаткові) */
/* "web" and "studio" style title (in header and footer) */
.web {
    color: #2196f3;
}

.studio-header {
    color: #212121;
}

.studio-footer {
    color: #fff;
}

/* ----- main index.html (основний контент index.html) ----- */
/* ------ hero section (герой) ------*/
.hero { 
    background-color: #2f303a;
}

.hero-title {
    color: #fff;
}

.hero-button {
    color: #fff;
    background: #2196f3;
    text-align: center;
}

/* ----- our-features (текст під банером) ----- */
.our-features {
    display: inline;
}

.our-features-ul{
    color: #212121;
}

.our-features-li {
    color: #212121;
}

/* ----- what-do-we-do (чим ми займаємось) ----- */
.what-do-we-do {
    color: #212121
}

.what-do-we-do-title {
    color: #212121;
}

.what-do-we-do-ul {
    color: #fff;
    display: inline-block;
}

.what-do-we-do-li {
    color: #fff;
}

/* ----- our team (наша команда) ----- */
.our-team {
    background-color: #F5F4FA;
}

.our-team-title {
    color: #212121;
}

.our-team-ul {

}

.our-team-li {

}